.btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--black);
}

// @media (max-width: 767px) {
//   .btn {
//     font-size: 14px;
//   }
// }
