.title {
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: $black;
  text-transform: uppercase;
}

// @media (max-width: 767px) {
//   .title {
//     font-size: 32px;
//   }
// }
